:host {
  display: block;
  height: 100%;
}

/* Fondo de la página */
ion-content {
  --background: #020b16;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #ffffff;   /* TEXTO BLANCO */
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Tarjeta */
.card {
  background: #000;
  padding: 40px;
  border-radius: 15px;
  border: 2px solid #00ffd5;
  box-shadow: 0 0 30px #00ffd5;
  width: 350px;
  color: #ffffff;   /* TEXTO BLANCO */
}

/* Inputs */
.inputBox {
  position: relative;
  margin-bottom: 20px;
}

.inputBox input {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #00ffd5;
  border-radius: 8px;
  color: #ffffff;   /* TEXTO BLANCO */
}

/* Labels flotantes */
.inputBox span {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  color: #ffffff;   /* TEXTO BLANCO */
}

/* Estado flotante */
.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
  top: -8px;
  font-size: 12px;
  background: #000;
  color: #ffffff;   /* TEXTO BLANCO */
}

/* Botón */
button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #00ffd5;
  color: #000; /* Se deja negro para contraste */
  border-radius: 8px;
  cursor: pointer;
}
