<header class="site-header">
  <nav class="cyber-navbar">

    <div class="logo">
      <img
        src="https://png.pngtree.com/png-vector/20241030/ourmid/pngtree-cybersecurity-digital-lock-icon-png-image_14163434.png"
        style="width: 80px; height: auto;"
      >
    </div>

    <ul class="nav-links">
      <li><a routerLink="/inicio">Inicio</a></li>
      <li><a routerLink="/sobre">Sobre la IA</a></li>
      <li><a routerLink="/chat">Chat de IA</a></li>
      <li><a routerLink="/juego">Juego de IA</a></li>
         <li><a routerLink="/imagenes">Prompt</a></li>
       
         
  
    </ul>

    <div class="user-menu">
      <div class="user-btn">👤 Usuario</div>

      <div class="user-dropdown">
        <a routerLink="/registrar">Registro</a>
        <a routerLink="/login">Iniciar sesión</a>
      </div>
    </div>

  </nav>
</header>
