.site-header {
  width: 100%;
  background: linear-gradient(90deg, #020617, #0b1120);
  border-bottom: 1px solid rgba(0,255,255,.2);
}

.cyber-navbar {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(90deg, #020617, #020617);
  border-radius: 40px;

  box-shadow:
    0 0 10px rgba(0,255,255,.4),
    0 0 25px rgba(0,255,255,.25);
}

.logo {
  font-size: 28px;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: #bffcff;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 20px;
  transition: .3s;
}

.nav-links a:hover {
  background: rgba(0,255,255,.12);
  color: #00ffff;
  box-shadow: 0 0 12px rgba(0,255,255,.8);
}

.user-menu {
  position: relative;
}

.user-btn {
  padding: 8px 18px;
  border-radius: 30px;
  background: linear-gradient(90deg,#1e3a8a,#06b6d4);
  color: white;
  font-weight: 500;
  cursor: pointer;

  box-shadow:
    0 0 10px #00ffff,
    0 0 25px rgba(0,255,255,.6);
}

.user-dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  width: 190px;
  background: #020617;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,255,255,.7);
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: .3s;
}

.user-dropdown a {
  display: block;
  padding: 14px;
  color: #bffcff;
  text-decoration: none;
}

.user-dropdown a:hover {
  background: rgba(0,255,255,.15);
  color: #00ffff;
}

.user-menu:hover .user-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
