<ion-content>
  <app-navbar></app-navbar>

  <!-- TODO lo demás queda igual -->
<section class="hero">
  <h1>INTELIGENCIA ARTIFICIAL</h1>
</section>

<section class="intro">
  <h2>¿Qué es la Inteligencia Artificial?</h2>
  <p>
    La Inteligencia Artificial permite que las máquinas piensen, aprendan y tomen decisiones.
    Es la base de asistentes virtuales, robots, videojuegos, medicina moderna y sistemas inteligentes.
  </p>
</section>

<section class="cards">
<!-- GEMINI -->
<div class="card">
  <div class="card-inner">

    <div class="card-front">
      <img src="https://registry.npmmirror.com/@lobehub/icons-static-png/latest/files/dark/gemini-color.png">
      <h3>Gemini</h3>
    </div>

    <div class="card-back">
      <p>Gemini es la IA de Google diseñada para analizar textos, imágenes y datos.</p>
    </div>

  </div>
</div>


<!-- FUNCIONES -->
<div class="card">
  <div class="card-inner">

    <div class="card-front">
      <img src="https://cdn-icons-png.flaticon.com/512/2959/2959013.png">
      <h3>Funciones</h3>
    </div>

    <div class="card-back">
      <p>Ayuda a investigar, buscar información, generar contenido y analizar documentos.</p>
    </div>

  </div>
</div>


<!-- USO DIARIO -->
<div class="card">
  <div class="card-inner">

    <div class="card-front">
      <img src="https://cdn-icons-png.flaticon.com/512/15203/15203219.png">
      <h3>Uso diario</h3>
    </div>

    <div class="card-back">
      <p>En el uso diario puede ser para resolver dudas basicas sobre el mundo.</p>
    </div>

  </div>
</div>

<div class="card">
<div class="card-inner">
<div class="card-front">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/ChatGPT-Logo.svg/3840px-ChatGPT-Logo.svg.png">
<h3>ChatGPT</h3>
</div>
<div class="card-back">
<p>ChatGPT es una IA creada por OpenAI capaz de conversar como una persona.</p>
</div>
</div>
</div>

<div class="card">
<div class="card-inner">
<div class="card-front">
<img src="https://cdn-icons-png.freepik.com/256/7471/7471736.png">
<h3>¿Para qué sirve?</h3>
</div>
<div class="card-back">
<p>Sirve para estudiar, programar, escribir textos, resolver dudas, crear ideas y ayudar en trabajos.</p>
</div>
</div>
</div>

<div class="card">
<div class="card-inner">
<div class="card-front">
<img src="https://png.pngtree.com/png-clipart/20240508/original/pngtree-artificial-intelegence-icone-png-image_15035251.png">
<h2>Usos</h2>
</div>
<div class="card-back">
<p>Se usa en escuelas, empresas, atención al cliente, videojuegos y desarrollo de software.</p>
</div>
</div>
</div>

</section>

</ion-content>
