/* FONDO NEGRO NEÓN */
.neon-content {
  --background: #000000 !important;
  background: #000000 !important;
}

/* NAVBAR */
.site-header {
  padding: 20px 10px;
}

.cyber-navbar {
  max-width: 1200px;
  margin: auto;
  padding: 15px 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  border-radius: 40px;
  background: #020b1c;

  box-shadow:
    0 0 25px #00ffff,
    0 0 80px rgba(0,255,255,0.6);
}

/* LOGO */
.logo {
  font-size: 20px;
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: .3s;
}

.nav-links a:hover {
  color: #00ffff;
  text-shadow: 0 0 10px #00ffff;
}

/* BOTÓN */
.user-btn {
  padding: 6px 18px;
  border-radius: 25px;
  background: linear-gradient(90deg,#1e3a8a,#06b6d4);
  box-shadow: 0 0 20px #00ffff;
  font-size: 13px;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  margin-top: 30px;
  padding: 0 20px;
}

.hero h1 {
  font-size: 40px;
  color: white;
  text-shadow: 0 0 20px #00ffff;
}

.hero p {
  color: #00ffff;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 50px 20px;
  max-width: 1200px;
  margin: auto;
}

.card {
  height: 300px;
  border-radius: 20px;
  background: rgba(0, 40, 50, 0.6);
  border: 2px solid #00ffff;

  box-shadow:
    0 0 30px #00ffff,
    0 0 80px rgba(0,255,255,0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 80px;
  margin-bottom: 15px;
  filter: drop-shadow(0 0 15px cyan);
}

.card h3 {
  color: white;
}

/* ================= RESPONSIVE ================= */

/* TABLET */
@media (max-width: 992px) {
  .hero h1 {
    font-size: 32px;
  }

  .nav-links {
    gap: 15px;
  }
}

/* CELULAR */
@media (max-width: 600px) {

  .cyber-navbar {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .hero h1 {
    font-size: 26px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

}