<div class="page">

  <h1 class="title">Mini Mario Bros Educativo</h1>

  <div class="card">

    <!-- 1 PERSONAJE -->
    <h2>1. Elige tu Personaje</h2>

    <div class="characters-box">
      <img src="assets/personajes/https://i.pinimg.com/originals/f5/75/2c/f5752c7c9f03832209f0bb8b57214281.gif", class="character selected">
      <img src="assets/personajes/ninja.png" class="character">
      <img src="assets/personajes/dino.png" class="character">
      <img src="assets/personajes/unicornio.png" class="character">
      <img src="assets/personajes/player1.png" class="character">
      <img src="assets/personajes/player2.png" class="character">
    </div>

    <!-- 2 NIVELES -->
    <h2>2. Selecciona un Nivel</h2>

    <div class="levels">
      <button class="level active">1</button>
      <button class="level">2</button>
      <button class="level">3</button>
      <button class="level">4</button>
      <button class="level">5</button>
      <button class="level">6</button>
      <button class="level">7</button>
      <button class="level">8</button>
      <button class="level">9</button>
      <button class="level">10</button>
    </div>

  </div>

  <p class="info">Nivel: 1 | Obstáculos: 0</p>

  <div class="question-box">
    <h3>Preguntas de IA</h3>
  </div>

</div>
