ion-content {
  --background: #020b16;
}

/* 👇 wrapper que centra SIN romper scroll */
.page-center {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* importante para móviles */
}

.card {
  background: #000;
  padding: 40px;
  border-radius: 15px;
  border: 2px solid #00ffd5;
  box-shadow: 0 0 30px #00ffd5;
  width: 320px;
  text-align: center;
  color: #00ffd5;
}

h2 {
  margin-bottom: 25px;
}

ion-input {
  margin: 12px 0;
  --background: transparent;
  --color: #00ffd5;
  --placeholder-color: #00ffd5;
  border: 1px solid #00ffd5;
  border-radius: 6px;
}

ion-button {
  margin-top: 20px;
  --background: #00ffd5;
  --color: #000;
  font-weight: bold;
}

.msg {
  margin-top: 15px;
  color: red;
}
